[submodule "Software/LaunchControl"]
	path = Software/LaunchControl
	url = https://github.com/HART-Avionics/OSU-HART-Launch-Control-Software.git
[submodule "Software/LaunchIgnition"]
	path = Software/LaunchIgnition
	url = https://github.com/HART-Avionics/OSU-HART-Launch-Ignition-Software.git
